*{
  padding: 0;
  margin: 0;
}

body{
  text-align: center;
  color: #fff;
}

.totalApp::before{
  content: '';
  background: url(./assets/backgroung_wheather.jpg) no-repeat center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -100;
}

.in-field{
  text-align: center;
  padding: 20px;
}

.in-field input, button{
  padding: 14px 20px;
  font-size: 20px;
  border-radius: 15px;
  border: 1px solid grey;
  background-color: rgba(255, 255, 255, 0.5);
  color: #8f8f8f;
  margin-right: 10px;
}

.container{
  margin-top: 100px;
}

.city p{
 font-style: oblique;
 font-size: 3rem;
 
}

.temp h1{
  font-size: 7rem;
}

.desc p{
 font-size: 2rem;
}

.bold{
  font-weight: 700;
}

.footer{
  margin: 100px auto;
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 600px;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  }

.feels p, .humidity p, .wind p, .sunrise p, .sunset p{
  font-size: 1.35rem;
  color: rgba(22, 22, 22, 0.8);
}
